fastapi
uvicorn
langgraph
langchain
langchain-core
langchain-community
langchain-openai
langchain-ollama
python-multipart
pydantic
pymongo
azure-cosmos
python-jose[cryptography]
auth0-python
python-dotenv
requests
azure-storage-blob
